<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>ISBN</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

    <style>
      .message { color: red }
      input[type="text"] { border: thin solid lightgrey }
    //  input[type="text"].inline { display: inline }
    </style>

  </head>
  <body ng-app="app" ng-controller="ISBNCtrl">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">ISBN lookup</h1>
      </ion-header-bar>
      <ion-content>
        <form>
          <div class="list">
            <label class="item item-input"
                   ng-class="{inline: field==='ed' || field==='year' || field==='lang'}"
                   ng-repeat="field in itemFields">
              <input type="text" placeholder="{{field}}"
                     ng-model="item[field]"
                     ng-keypress="byField(field,$event)">
            </label>
          </div>

          <button type="button" ng-click="scan()">Scan ISBN</button>
          <button type="button" ng-click="lookup()">Lookup ISBN</button>
          <button type="button" ng-click="store()">Store Item</button>
          <button type="button" ng-click="clear()">Clear Item</button>
        </form>
        <div class="response">{{response}}</div>
        <div class="message">{{message}}</div>

        <ion-list>
          <ion-item ng-repeat="(isbn,item) in items">
            {{isbn}}: {{item}}
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-pane>
  </body>
</html>
